.dashboard {
  width: 100%;
  min-height: 100vh;
  padding-top: 64px;
  display: flex;
  flex-direction: row;
}

.dashboard-header {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgb(0 0 0 / 7%) 0px 4px 6px -1px;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 32px);
  background-color: #fff;
  z-index: 2;

  > img {
    width: 180px;
    height: 40px;
  }

  .dashboard-header-user {
    display: flex;
    align-items: center;

    p {
      font-size: 16px;
      margin-right: 12px;
    }

    img {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      border: 1px solid #000;
    }
  }
}

.dashboard-sidebar {
  min-height: calc(100vh - 64px);
  width: 250px;
  padding: 24px 0;
}

.dashboard-content {
  width: 100%;
  background-color: #eee;
  padding: 24px;

  &-header, &-header-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
