.dashboard-user-card {
  background-color: #fff;
  min-width: 250px;
  max-width: 250px;
  height: 300px;
  padding: 12px;
  border-radius: 4px;
  margin-right: 24px;

  &:last-child {
    margin-right: 0px;
  }

  &-header {
    border-bottom: 1px solid #eee;
    margin: -12px;
    padding: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      height: 6px;
      width: 24px;
      background-color: #eee;
    }

    p {
      color: #adadad;

      > span {
        color: #e21717;
      }
    }
  }

  &-body {
    h5 {
      color: #adadad;
      font-weight: normal;
      margin-top: 14px;
    }

    p {
      font-size: 14px;
      font-weight: 600;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 450px) {
  .dashboard-user-card {
    height: 200px;
    margin-bottom: 24px;
    max-width: unset;
    margin-right: 0px;
    width: calc(100% - 24px);
  
    &-body {
      display: flex;
      flex-direction: row;
      align-items: center;

      h5:nth-child(4),
      h5:nth-child(5),
      h5:nth-child(7),
      p:nth-child(6),
      p:last-child {
        display: none;
      }

      img {
        width: 120px;
        height: 120px;
      }

      .user-card-image {
        margin-right: 16px;
      }
    }
  }
}
