.dashboard-sidebar {
  min-height: calc(100vh - 64px);
  width: 280px;
  padding: 24px 0;

  &-menu {
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 24px;
    border-left: 4px solid #fff;
    cursor: pointer;
    font-weight: 600;

    &.active,
    &:hover {
      color: #e21717;
      border-left: 4px solid #e21717;
    }

    &:hover {
      opacity: 0.8;
    }

    > div {
      height: 24px;
      width: 24px;
      background: #eee;
      margin-right: 8px;
    }
  }
}
